server {
    listen 80;
    server_name {{ certbot_certs | map(attribute='domains') | flatten | join(' ') }};

    location /.well-known/acme-challenge/ {
        root {{ certbot_webroot }};
        default_type "text/plain";
    }
}
