server {
    listen 80;
    listen [::]:80;
    server_name jgirod.com.ar;

    root /var/www/jgirod.com.ar/html;
    index index.html;

    location / {
        try_files $uri $uri/ /index.html;
    }
}
