# --- Better Key Bindings ---

# Use Ctrl-a as prefix (more ergonomic than Ctrl-b)
unbind C-b
set-option -g prefix C-Space
bind C-Space send-prefix

# --- Enable mouse support ---
set -g mouse on

# --- Vi-style navigation in copy mode ---
setw -g mode-keys vi

# --- Easier pane switching with vim keys ---
bind -n C-h select-pane -L
bind -n C-j select-pane -D
bind -n C-k select-pane -U
bind -n C-l select-pane -R

# --- Easier pane resizing with prefix + arrow keys ---
bind -r Left resize-pane -L 5
bind -r Right resize-pane -R 5
bind -r Up resize-pane -U 2
bind -r Down resize-pane -D 2

# --- Split panes using | and - (like Vim splits) ---
bind | split-window -h
bind - split-window -v
unbind '"'
unbind %

# --- Status Bar Customization (Optional) ---
set -g status-keys vi
set -g status-bg black
set -g status-fg white
set -g status-left "#[fg=green][#S] "
set -g status-right "#[fg=yellow]%Y-%m-%d #[fg=cyan]%H:%M"

# --- Faster command delay ---
set -sg escape-time 10